.shadow
{
    -webkit-box-shadow:0 0 20px #cbcbcb;
    -o-box-shadow:0 0 20px #cbcbcb;
    box-shadow:0 0 20px #cbcbcb;
}

.wrapper {
    margin:0 auto;
    text-align:left;
}

.wrapper.login {
    width:400px;
    margin-top:20px;
}

.right-content .box {
    padding:10px;
    margin-bottom:20px;
}
.right-content .box h1 {
    text-transform:uppercase;
    font-size:13px;
    margin-bottom:2px;
}


.right-content .box.green {
    background-color:rgba(138, 194, 76, 0.3);
    border:1px solid #afdd6d;
}
.right-content .box.red {
    background-color:rgba(210, 142, 139, 0.4);
    border:1px solid #db8e8b;
}
.right-content .box.blue {
    background-color:rgba(228, 240, 243, 0.4);
    border:1px solid #D1E3E8;
    color:#8c9a9e;
}
.right-content .box.white {
    background-color:rgba(255, 255, 255, 0.3);
    border:1px solid #dae2e5;
    color:#979797;
}
.right-content .box.white h1 {
    color:#4f4343;
}
.left-column {
/* margin:15px 330px 0 0; */
}
.left-column.content, .left-column .content {
    background-color:#fff;
    border:1px solid #D0E0E5;
    color:#555;
    padding:10px;
}
.left-column .content {
    float:left;
    width:100%;
    word-wrap:break-word;
}
.left-column h1.title, .left-column h1 a.title, .login-box h1, .left-column .heading
{
    text-shadow:1px 0 #7e959f;
    color:#fefffe;
    background-color:#9db1b9;
    margin:-11px -11px 10px -11px;
    padding:12px 10px 12px 10px;
    text-decoration:none;
    font-size: 16px;
}
/* table tr td {
    padding:2px 0 2px 0;
    border-bottom:1px solid #dfdfdf;
} */

body
{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#f4f4f4;
    font-size:13px;
    color:#363537;
    margin:0 30px 0 30px;
    /* text-align:center; */ /* Comment RRF */
    background:url(../images/background.gif) repeat; 
    word-wrap:break-word;
}

.issue-overview-title {
    width:90px;
    vertical-align:text-top;
}
.issue-overview-data {
    font-weight:bold;
}

.overview-attachments a.issue-overview-attachment-delete 
{
    background:url(../images/icons/16/trash.png) no-repeat;
    width:16px;
    height:16px;
    opacity:.1;
    display:inline-block;
    margin:0 0 -4px 2px;
}
.overview-attachments a.issue-overview-attachment-delete:hover {
    opacity:.4;
}

.issue-new-attach-box .issue-attach-details{
    padding:8px 0 8px 0;
}

.overview-stats .stat-type {
    font-weight:bold;
    text-transform:uppercase;
    font-size:10px;
    margin:0 20px 0 2px;
}
.overview-stats a {
    text-decoration:none;
    color:#fff;
}

.edit-user-gravatar {
    float:left;
    padding:2px 10px 0 2px;
}

h1, .left-column .heading {
    font-size:22px;
    font-weight:bold;
}

.issue-list {
    color:#9c9c9c;
}
.issue-list .column-issue-id {
    width:50px;
}
table tr.resolved .issue-id, .issue-list tr.closed .issue-id {
    background-color:#888;
    border-color:#666;
}
table tr.resolved, .issue-list tr.closed {
    opacity:.6;
}
table tr.resolved:hover, .issue-list tr.closed:hover {
    opacity:1.0;
}
.issue-id
{
    padding:5px 6px 5px 6px;
    margin:2px 3px 0 5px;
    color:#fff;
    background-color:#555;
    border:1px solid #464646;
    float:left;
}
.issue-id span {
    font-size:9px;
    color:#CCC;
}
.issue-list .subject {
    font-size:14px;
}
.issue-list a.project-name {
    color:#9C9C9C;
}
.issue-list .percentage {
    margin-left:5px;
    color:#9C9C9C;
    font-size:10px;
}
.issue-list .priority-normal {
    background-color:#E4F0F3;
    border:1px solid #D1E3E8;
    color:#68777C;
}
.issue-list .priority-high {
    background-color:#eee1dc;
    border:1px solid #e1d2c5;
    color:#675c54;
}
.issue-list .priority-low {
    background-color:#ebf0db;
    border:1px solid #dde3c3;
    color:#666953;
}
.issue-list .column-category {
    width:80px;
    text-align:center;
}
.issue-list .column-assignee {
    width:80px;
    text-align:right;
}
.issue-list .column-gravatar {
    width:38px;
    text-align:right;
}
div.see-more {
    text-align:right;
    font-size:11px;
}
div.overview-separator {
    border-top:1px solid #DFDFDF;
    margin:20px 0 0 0;
    height:20px;
}
.history-list {
    color:#9C9C9C;
    margin:0;
}
.history-list .column-issue-id {
    width:50px;
    vertical-align:top;
}
.history-list .column-gravatar {
    width:38px;
    vertical-align:top;
}
.history-list .column-changes {
    vertical-align:top;
}
.history-list .column-changes ul {
    margin:5px 0 0 0;
    padding:0;
}
.history-list .column-changes ul li {
    margin-left:20px;
    padding-left:0;
    list-style-type:square;
}
.history-list .subject {
    font-size:14px;
}
.history-list a.project-name {
    color:#9C9C9C;
}
.history-list p {
    margin:0;
    padding:0;
    word-wrap:break-word;
    /*word-break:break-word;*/
}

.info-box
{
    background-color:rgba(228, 240, 243, 0.8);
    border:1px solid #D1E3E8;
    color:#6f8088;
    padding:10px;
    margin-bottom:10px;
}
.info-box.green {
    background-color:rgba(138, 194, 76, 0.3);
    border:1px solid #afdd6d;
}
.info-box h1
{
    font-weight:bold;
    font-size:12px;
    text-transform:uppercase;
    background-color:transparent;
    color:inherit;
    text-shadow:none;
    padding:0 0 5px 0;
    margin:0;
}
.info-box p {
    padding:0;
    margin:0 0 8px 0;
}
.info-box p:last-child {
    padding:0;
    margin:0;
}
img.gravatar {
    -webkit-border-radius:3px;
    border-radius:3px;
}

table {
    margin:5px 0 5px 0;
    width:100%;
    border-collapse:collapse;
}
table tr td {
    padding:5px 0 5px 0;
    border-bottom:1px solid #dfdfdf;
}
table tr:last-child td {
    border-bottom:none;
}
.priority {
    margin-right: 5px;
}

.issue-quantity a {
    color:#fff;
}
.left-column h1 .issue-quantity {
    margin-top:2px;
}
table .meta {
    font-size:11px;
    color:#9c9c9c;
}
table .meta a {
    color:#9c9c9c;
}
table .labels {
    padding:2px 0 0 0;
}
.issue-overview-meta, .issue-overview-meta a {
    color:#8c9a9e;
}
.left {
    float:left;
}
.right {
    float:right;
}
/** Resumen BOX **/
.bar-graph
{
    border:1px solid #ccc;
    background-color:#e5e5e5;
    -webkit-border-radius:4px;
    border-radius:4px;
    height:22px;
}
.bar-graph-value
{
    background-color:#555;
    -webkit-border-top-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    color:#F8F8F8;
    font-weight:normal;
    font-size:11px;
    line-height:22px;
    height:22px;
}
.bar-graph-value span {
    padding-left:5px;
}
.bar-graph-full .bar-graph-value
{
    -webkit-border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}

.overview-charts {
    text-align:center;
}
.overview-chart-box {
    display:inline-block;
    padding:0 2px 0 2px;
    height:99px;
}
.overview-chart-box h2 {
    text-transform:uppercase;
    font-size:11px;
    text-align:center;
    padding-bottom:5px;
}