/*Nav Bar*/
.navbar .brand {
  display:block;
  float:left;
  font-size:20px;
  font-weight:200;
  padding:10px 20px;
  margin-left:-15px;
}

.navbar .nav > li > a {
  float:none;
  padding:10px 15px;
  text-decoration:none;
}

.navbar-search .search-query {
  border-radius:1px;
}

.navbar-form input:focus { box-shadow:none; }

.aqua-search-button {
  background:none;
  border:none;
  position:relative;
  top:1px;
  /* left:-40px; */ /* Comentar para dejar fuera del Box */
}

/* .container-fluid { padding-top: 20px; } */
.content{ padding:0 50px 0 50px; }

#page {
    padding-top: 60px;
}

.footer {
  color: #81898b;
  font-size: 11px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.version {
  float: right;
  padding-right: 50px;
}

a { color: #638a99; }
a:hover { color: #92a7af; }

.upload{
   padding: 8px 10px;
   position: relative;        
   border-radius: 5px;
   width:92%;
}

.upload input[type="file"]{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.opacity{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
/*bootstrap*/    
.well {
    min-height: 15px;
    padding: 7px;
    margin-bottom: 15px;
    background-color: whiteSmoke;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.fileuploader {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: default;
}

.filename {
    float: left;
    display: inline-block;
    outline: 0 none;
    height: 30px;
    width: 120px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
    color: #777;
    text-shadow: 1px 1px 0px #fff;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 0px 1px #fff inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 10px;
}

.filebutton {
    float: left;
    height: 30px;
    display: inline-block;
    outline: 0 none;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 1px #fff inset;
    color: #555555;
    margin-left: 3px;
    padding: 6px 12px;
    background: #DDDDDD;
    background:-moz-linear-gradient(top, #EEEEEE 0%, #DDDDDD 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE), color-stop(100%, #DDDDDD));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DDDDDD', GradientType=0);
}

.fileuploader input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    height: 30px;
    cursor: pointer;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
}


.breadcrumb {
    background-color: white;
}

input[type=text]:invalid { background-color: red; }

/* Float Control */
.float-actions
{
  position: fixed;
  bottom: 0px;
  left: 21em;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #ddddff;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  border-top-width: 1px;
  border-right-width-value: 1px;
  border-bottom-width: 1px;
  border-left-width-value: 1px;
  border-top-style: solid;
  border-right-style-value: solid;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-top-color: #999999;
  border-right-color-value: #999999;
  border-bottom-color: #999999;
  border-left-color-value: #999999;
  /*border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch; */
    /*border-style:solid;
    border-width:1px;*/
}
.float-actions{left:auto;}